@font-face {
font-family: "Black Street";
src: url("Font/Black Street/Black Street.eot");
src: url("Font/Black Street/Black Street.woff") format("woff"),
url("Font/Black Street/Black Street.otf") format("opentype"),
url("Font/Black Street/Black Street.svg") format("svg");
}

@font-face {
font-family: "Street";
src: url("Font/Street/Street.eot");
src: url("Font/Street/Street.woff") format("woff"),
url("Font/Street/Street.otf") format("opentype"),
url("Font/Street/Street.svg") format("svg");
}

*
{
    margin: 0;
    padding: 0;
}

html
{
    width: 100%;
    height: 100%;
    color: white;
}

body
{
    width: 100%;
    background-image: url("Img/home.gif");
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Street';
}

.body2
{
    width: 100%;
    background-image: url("Img/rec.gif");
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Street';
}

.body3
{
    width: 100%;
    background-image: url("Img/connect.gif");
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Street';
}

.wrapper
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.wrapper2
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.wrapper3
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
}

.header
{
    width: 100%;
    height: 10%;
    line-height: 60px;
    padding: 0 2%;
}

.logo
{
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Black Street';
    transition: 1.5s;
}

.logo:hover
{
    color: darkviolet;
    transition: color 2s;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px pink, 0 0 55px white, 0 0 75px violet;
    transition: text-shadow 1.2s;
}

.menu
{
    float: right;
    margin-right: -24px;
}

.menu a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
    float: left;
    transition: 0.4s;
}

.menu a:hover
{
    background-color: darkviolet;
    transition: 0.7s;
    transition: color 2s;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px pink, 0 0 55px white, 0 0 75px violet;
    transition: text-shadow 1s;
}

.content
{
    width: 100%;
    height: 87.5%;
}

.tableconnect
{
  position: absolute;
  right: 0;
}

.divchat
{
    background-color: rgba(105, 105, 105, 0.3);
    border-radius: 5px;
    margin-top: -35px;
}

.messages
{
    
    padding: 1em;
    height: 60vh;
    overflow: auto;
    
}

.message
{
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

#message
{
    width: 50%;
}

.date_heure
{
    float: left;
    border-radius: 7px;
}

a
{
    text-decoration: none;
    color: white;
}

#formconnect input
{
  margin-left: 35px;
  margin-top: 5px;
}

.envoyer
{
  width: 55%;
  height: 45px;
  background-color: #7CFC00;
  border-radius: 21px;
  font-family: sans-serif;
  font-size: 17px;
  color: white;
}

.divchat
{
    width: 80%;
}

hr 
{
    width: 75%;
}

.spanstats
{
    position: absolute;
    bottom: 3.5%;
    left: 0;
}

.stats
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
    float: left;
    transition: 0.4s;
}

.stats:hover
{
    background-color: darkviolet;
    transition: 0.7s;
    transition: color 2s;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px white, 0 0 30px white, 0 0 40px pink, 0 0 55px white, 0 0 75px violet;
    transition: text-shadow 1s;
}

.footer
{
    width: 100%;
    height: 2.5%;
    text-align: center;
}